#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	@echo "skip: binary prebuilt by release pipeline"

override_dh_auto_test:
	@echo "skip: tests already ran in the build job"

override_dh_auto_install:
	install -d debian/ootree/usr/bin
	install -m 0755 ../dist/ootree-linux-x86_64 debian/ootree/usr/bin/ootree
